@import "~antd/dist/antd.css";
:root {
  --mek-vahan: #d50000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.ant-input {
  border: none;
  border-bottom: 1px solid #ccc;
}

.close {
  background-image: url("../asset/4x/Asset 4xxxhdpi.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 22px;
  width: 17px;
  position: absolute;
  font-size: 20px;
  top: 10px;
  right: 10px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em 0 1em 0;
}
.logo-container .logo {
  background-image: url("../asset/4x/Asset 3xxxhdpi.png");
  background-size: 80%;
  background-repeat: no-repeat;
  height: 4em;
  width: 4em;
}
.logo-container h2 {
  text-align: center;
  margin: auto 0;
  color: var(--mek-vahan);
  font-weight: 700;
}

.login-signup {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 60vw;
  margin: 5% auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.login-signup-left {
  height: inherit;
  width: 50%;
  background-image: url("../asset/4x/Asset 2xxxhdpi.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.login-signup-right {
  background-color: #fff;
  height: inherit;
  width: 65%;
  padding: 0 7em;
}
.login-signup-right .login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.login-signup-right .login-form {
  display: flex;
  flex-direction: column;
}
.login-signup-right .login-form .password {
  color: #aaa;
  margin: 0;
  padding: 3em 0 0 0;
}
.login-signup-right .login-form .forgot-password {
  color: orange;
  padding: 0.5em 0 4em 0;
}
.login-signup-right .login-form .login-btn {
  background-color: var(--mek-vahan);
}
.login-signup-right .separation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.login-signup-right .separation hr {
  width: 40%;
  border: none;
  height: 1px;
  background-color: #ccc;
}
.login-signup-right .separation p {
  color: #aaa;
  margin-top: -0.8em;
}
.login-signup-right .signup {
  text-align: center;
  padding: 0.5em 0;
}
.login-signup-right .signup a {
  color: var(--mek-vahan);
  font-weight: bold;
}
.login-signup-right .continue-with {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.login-signup-right .continue-with p {
  color: #aaa;
}
.login-signup-right .continue-with div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  background-color: none;
  border: none;
}

.facebook-logo {
  background-image: url("../asset/SVG/Asset 6.svg");
  width: 3em;
  height: 3em;
  background-color: #fff;
}

.google-logo {
  background-image: url("../asset/SVG/Asset 5.svg");
  width: 3em;
  height: 3em;
  background-color: #fff;
}

.home-layout {
  background-color: #fae7ea;
  height: 100vh;
  padding: 2em;
}

.home-content {
  display: flex;
  flex-direction: row;
}
.home-content hr {
  border: none;
  height: 1px;
  background-color: #ccc;
}

.home-content-left {
  width: 20vw;
  position: relative;
  height: 90%;
  margin-right: 2em;
}
.home-content-left .user-info {
  background-color: white;
  padding: 1em 1em;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  height: 15vh;
}
.home-content-left .profile {
  background-color: #999;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  margin-right: 1em;
}
.home-content-left .greet-user h3 {
  font-size: 18px;
  font-weight: bold;
  white-space: pre-line;
}
.home-content-left .user-panel {
  padding: 0.5em 0;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 73vh;
}
.home-content-left .user-panel .active {
  color: var(--mek-vahan) !important;
}
.home-content-left .user-panel p {
  padding: 1em 0 0 2em;
  font-weight: bold;
}

.home-content-right {
  background-color: #fff;
  width: 100%;
}
.home-content-right .active-tab {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
.home-content-right .empty-body {
  background-image: url("../asset/4x/Asset 15xxxhdpi.png");
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
}

.address-btn {
  border: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}
.address-btn p {
  padding: 0.2em;
}
.address-btn:hover {
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 1;
}

.cards {
  border: 1px solid #f00;
  width: 40%;
  margin-top: 4%;
  margin-left: 6.67%;
}

/*# sourceMappingURL=main.css.map */
