@import "~antd/dist/antd.css";

:root {
    --mek-vahan: #d50000;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
// Close img
.close {
    background-image: url("../asset/4x/Asset\ 4xxxhdpi.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 22px;
    width: 17px;
    position: absolute;
    font-size: 20px;
    top: 10px;
    right: 10px;
}
// login-signup page
.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em 0 1em 0;
    .logo {
        background-image: url("../asset/4x/Asset\ 3xxxhdpi.png");
        background-size: 80%;
        background-repeat: no-repeat;
        height: 4em;
        width: 4em;
    }
    h2 {
        text-align: center;
        margin: auto 0;
        color: var(--mek-vahan);
        font-weight: 700;
    }
}
.login-signup {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 60vw;
    margin: 5% auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.login-signup-left {
    height: inherit;
    width: 50%;
    background-image: url("../asset/4x/Asset\ 2xxxhdpi.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.login-signup-right {
    background-color: #fff;
    height: inherit;
    width: 65%;
    padding: 0 7em;

    // login section
    .login {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
    .login-form {
        display: flex;
        flex-direction: column;
        .password {
            color: #aaa;
            margin: 0;
            padding: 3em 0 0 0;
        }
        .ant-input {
            border: none;
            border-bottom: 1px solid #ccc;
        }

        .forgot-password {
            color: orange;
            padding: 0.5em 0 4em 0;
        }

        .login-btn {
            background-color: var(--mek-vahan);
        }
    }
    // separate the login and signup section
    .separation {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        hr {
            width: 40%;
            border: none;
            height: 1px;
            background-color: #ccc;
        }
        p {
            color: #aaa;
            margin-top: -0.8em;
        }
    }
    // signup section
    .signup {
        text-align: center;
        padding: 0.5em 0;
        a {
            color: var(--mek-vahan);
            font-weight: bold;
        }
    }

    // other login options
    .continue-with {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        p {
            color: #aaa;
        }
        div {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}
// signup portion
.btn {
    background-color: none;
    border: none;
}
.facebook-logo {
    background-image: url("../asset/SVG/Asset\ 6.svg");
    width: 3em;
    height: 3em;
    background-color: #fff;
}
.google-logo {
    background-image: url("../asset/SVG/Asset\ 5.svg");
    width: 3em;
    height: 3em;
    background-color: #fff;
}

// Home Page

.home-layout {
    background-color: rgb(250, 231, 234);
    height: 100vh;
}

.home-content {
    display: flex;
    flex-direction: row;

    hr {
        border: none;
        height: 1px;
        background-color: #ccc;
    }
}
.home-content-left {
    width: 20vw !important;
    position: relative;

    .user-info {
        background-color: white;
        margin: 1.25em;
        padding: 1em 1em;
        position: relative;
        display: flex;
        flex-direction: row;
    }
    .profile {
        background-color: #999;
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
    .greet-user {
        padding: 0 1em;
        // margin: auto 0;
        h3 {
            font-size: 18px;
            font-weight: bold;
            white-space: pre-line;
        }
    }
    .user-panel {
        margin: 1.25em;
        padding: 0.5em 0;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        height: 77%;
        .active {
            color: var(--mek-vahan) !important;
        }
        p {
            padding: 1em 0 0 2em;
            font-weight: bold;
        }
    }
}

.home-content-right {
    background-color: #fff;
    width: 100%;
    // margin: 1.25em 1.25em 1.8em 1.25em;
    margin: 1.25em 1.5em 1.8em 0;
    .active-tab {
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em;

        .address-btn {
            border: none;
            display: flex;
            flex-direction: row;
            padding: 0;
            p {
                padding: 0.2em;
            }

            &:hover {
                border-radius: 5px;
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
            }
        }
    }
    .active-tab-body {
        height: 84vh;
    }
    .empty-body {
        background-image: url("../asset/4x/Asset\ 15xxxhdpi.png");
        background-size: 45%;
        background-repeat: no-repeat;
        background-position: center;
    }
}
